@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');
/* font-family: 'Lora', serif; */




body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #ffffff;
}

.site-header .navbar-nav .nav-link {
  color: #000;
}

.site-header .navbar-nav .nav-link:hover {
  color: #444444;
}

.navbar-brand {
  font-family: 'Lora', serif; 
  color: #000 !important;
}

.bi-search {
  color: #000;
  border: #dddddd;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.icons {
  font-size: 1.5em;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 40px;
  width: 40px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.post-img {
  height: 10em;
  width: 10em;
}

/* .account-heading {
  font-size: 2.5rem;
} */








/* Styling the footer section */

footer {
  
  width: 100%;
  padding: 0.3em;
}

.mt-2em {
  margin: 1.5em 0em 1.5em 0em !important;
}

.icons {
  display: inline !important;
}

.futa {
  margin: 1em;
  color: #000 !important;
  font-size: 1em;
}

a {
  text-decoration: none;
}

.futa:hover {
  color: rgb(101, 209, 101) !important;
}








/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
  

  
}